@using Services.Models
@using Services.Requests
@inject Services.CollaboratorService CollaboratorService


<Modal @ref="modalNewAppointment" Title="Nova Marcação" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="container">
            <div class="mb-3">
                <label for="collaboratorComboBox">Colaborador:</label>
                <BlazorBootstrap.AutoComplete @bind-Value="selectedCollaboratorName"
                                              DataProvider="CollaboratorsDataProvider"
                                              PropertyName="Name"
                                              Placeholder="Selecione um colaborador"
                                              OnChanged="(Collaborator collaborator) => OnAutoCompleteChanged(collaborator)" 
                                              class="w-100" />
            </div>
            <div class="mb-3">
                <label for="BeginDate">Data de Início:</label>
                <RadzenLabel Component="RadzenBeginDatePickerChangeEvent" />
                <RadzenDatePicker TValue="DateTime?"
                                  DateFormat="dd/MM/yyyy"
                                  Value=@beginDate
                                  Change="@(args => beginDate = args)"
                                  Name="RadzenBeginDatePickerChangeEvent" 
                                  class="w-100" />
            </div>
            <div class="mb-3">
                <label for="EndDate">Data de Fim:</label>
                <RadzenLabel Component="RadzenEndDatePickerChangeEvent" />
                <RadzenDatePicker TValue="DateTime?"
                                  DateFormat="dd/MM/yyyy"
                                  Value=@endDate
                                  Min=@beginDate
                                  Change="@(args => endDate = args)"
                                  DateRender=@EndDateRender
                                  Name="RadzenEndDatePickerChangeEvent" 
                                  Disabled="beginDate == null"
                                  class="w-100" />
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideNewAppointmentModalClick">Cancelar</Button>
        <Button Color="ButtonColor.Primary" Disabled="@IsFormInvalid" >Agendar</Button>
    </FooterTemplate>
</Modal>

@code {
    private Modal modalNewAppointment;
    private Collaborator selectedCollaborator = new Collaborator();
    private string selectedCollaboratorName = string.Empty;
    private DateTime? beginDate;
    private DateTime? endDate;

    //[Parameter] public EventCallback<string, DateTime?> AddAppointment { get; set; }
    [Parameter] public List<string> collaborators { get; set; }

    public async Task OnShowNewAppointmentModalClick()
    {
        ClearForm();
        await modalNewAppointment?.ShowAsync();
    }

    public async Task OnHideNewAppointmentModalClick()
    {
        ClearForm();
        await modalNewAppointment?.HideAsync();
    }

    private void ClearForm()
    {
        selectedCollaborator = null;
        selectedCollaboratorName = string.Empty;
        beginDate = null;
        endDate = null;
    }

    private bool IsFormInvalid => string.IsNullOrEmpty(selectedCollaboratorName) || !beginDate.HasValue;

    private async Task<AutoCompleteDataProviderResult<Collaborator>> CollaboratorsDataProvider(AutoCompleteDataProviderRequest<Collaborator> request)
    {
        var getCollaboratorsRequest = new GetCollaboratorsRequest()
            {
                Filter = request.Filter
            };
        var response = await CollaboratorService.ListCollaboratorsAsync(getCollaboratorsRequest);
        return await Task.FromResult(new AutoCompleteDataProviderResult<Collaborator> { Data = response.Item1, TotalCount = response.Item2 });
    }

    private void OnAutoCompleteChanged(Collaborator collaborator)
    {
        if (collaborator != null)
        {
            selectedCollaborator = collaborator;
            Console.WriteLine($"'{collaborator?.Name}' selected.");
        }        
    }

    void EndDateRender(DateRenderEventArgs args)
    {        
        args.Disabled = args.Date < beginDate;

        if (args.Date == beginDate)
        {
            args.Attributes.Add("class", "highlight-begin-date");
            args.Attributes.Add("style", "color: black");
        }
    }

}
