@page "/collaborators"
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject Services.CollaboratorService CollaboratorService
@using Services.Models
@using Services.Requests
@using BlazorBootstrap
@using Blazorise = Blazorise

<div class="container-fluid">
    <div class="row">
        <div class="col-8">            
            <BlazorBootstrap.Card class="mt-4">
                <BlazorBootstrap.CardBody>                    
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <BlazorBootstrap.CardTitle>Colaboradores</BlazorBootstrap.CardTitle>
                        <div>
                            <BlazorBootstrap.Button Color="ButtonColor.Primary" @onclick="OnShowNewCollaboratorModalClick" Type="BlazorBootstrap.ButtonType.Link" Disabled="isLoading">Adicionar Colaborador</BlazorBootstrap.Button>
                            <BlazorBootstrap.Button Color="ButtonColor.Danger" @onclick="ShowConfirmationAsync" Type="BlazorBootstrap.ButtonType.Link" Disabled="selectedCollaborators.Count == 0">Eliminar</BlazorBootstrap.Button>
                        </div>                        
                    </div>
                    @if (isLoading)
                    {
                        <div class="d-flex justify-content-center mt-4 mb-4">
                            <Spinner Type="SpinnerType.Border" />
                        </div>
                    }
                    <BlazorBootstrap.Grid Id="collaboratorsGrid" @ref="collaboratorsGridRef" TItem="Collaborator"
                          Class="table table-hover table-bordered"
                          DataProvider="ListCollaborators"
                          EmptyText="Não existem colaboradores"
                          FiltersTranslationProvider="GridFiltersTranslationProvider"
                          AllowFiltering="true"
                          AllowPaging="true"
                          AllowSorting="true"
                          AllowSelection="true"
                          SelectionMode="GridSelectionMode.Multiple"
                          SelectedItemsChanged="OnSelectedItemsChanged"
                          Responsive="true">

                        <GridColumn TItem="Collaborator" HeaderText="Nome" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" FilterTextboxWidth="60">
                            @context.Name
                        </GridColumn>
                        <GridColumn TItem="Collaborator" HeaderText="Ativo" PropertyName="IsActive" Sortable="false" Filterable="false">
                            @context.IsActive
                        </GridColumn>
                    </BlazorBootstrap.Grid>
                </BlazorBootstrap.CardBody>
            </BlazorBootstrap.Card>
        </div>
        <div class="col-4">
            <BlazorBootstrap.Card class="mt-4">
                <BlazorBootstrap.CardBody>  
                    <DatePicker TValue="DateTime?" @bind-Date="@date" InputFormat="dd.MM.yyyy" DisplayFormat="dd.MM.yyyy" />

                </BlazorBootstrap.CardBody>
            </BlazorBootstrap.Card>
        </div>
    </div>
</div>

<BlazorBootstrap.Modal @ref="modalNewCollaborator" Title="Adicionar colaborador" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="mb-3">
            <label for="collaboratorName">Nome:</label>
            <InputText id="newCollaboratorName"
                       @bind-Value="newCollaboratorName"
                       placeholder="João Silva"
                       class="form-control" />
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <BlazorBootstrap.Button Color="ButtonColor.Secondary" @onclick="OnHideNewCollaboratorModalClick">Cancelar</BlazorBootstrap.Button>
        <BlazorBootstrap.Button Color="ButtonColor.Primary" Disabled="string.IsNullOrEmpty(newCollaboratorName)" @onclick="AddCollaborator">Adicionar</BlazorBootstrap.Button>
    </FooterTemplate>
</BlazorBootstrap.Modal>

<ConfirmDialog @ref="removeCollaboratorsDialog" />

<Toasts class="p-3" Messages="toastMessages" AutoHide="true" Placement="ToastsPlacement.TopCenter" />


@code {
    private Grid<Collaborator> collaboratorsGridRef;
    private ConfirmDialog removeCollaboratorsDialog = default!;
    List<ToastMessage> toastMessages = new List<ToastMessage>();
    private bool isLoading = true;
    private BlazorBootstrap.Modal modalNewCollaborator = new();
    private string newCollaboratorName = "";
    private HashSet<Collaborator> selectedCollaborators = new();
    DateTime? date;

    protected override async Task OnInitializedAsync()
    {
        await LoadCollaborators();
        isLoading = false;
    }

    private async Task LoadCollaborators()
    {
        await ListCollaborators(new GridDataProviderRequest<Collaborator>()
        {
            PageNumber = 1,
            PageSize = 10
        });
        StateHasChanged();
    }

    private async Task<GridDataProviderResult<Collaborator>> ListCollaborators(GridDataProviderRequest<Collaborator> request)
    {
        string sortString = "";
        BlazorBootstrap.SortDirection sortDirection = BlazorBootstrap.SortDirection.None;

        if (request.Sorting is not null && request.Sorting.Any())
        {
            sortString = request.Sorting.FirstOrDefault()!.SortString;
            sortDirection = request.Sorting.FirstOrDefault()!.SortDirection;
        }

        var listCollaboratorsRequest = new ListCollaboratorsRequest()
        {
            Filters = request.Filters,
            PageNumber = request.PageNumber,
            PageSize = request.PageSize,
            SortString = sortString,
            SortDirection = sortDirection,
        };

        var result = await CollaboratorService.ListCollaboratorsAsync(listCollaboratorsRequest);
        return await Task.FromResult(new GridDataProviderResult<Collaborator> { Data = result.Item1, TotalCount = result.Item2 });
    }

    private async Task AddCollaborator()
    {
        if (!string.IsNullOrWhiteSpace(newCollaboratorName))
        {
            var newCollaboratorRequest = new NewCollaboratorRequest()
                {
                    Name = newCollaboratorName
                };

            var response = await CollaboratorService.AddCollaboratorAsync(newCollaboratorRequest);
            if (response.IsSuccessStatusCode)
            {
                ShowToast(ToastType.Success, "Novo Colaborador", "Novo colaborador adicionado com sucesso!");
                await LoadCollaborators();
                await collaboratorsGridRef.RefreshDataAsync();
                await OnHideNewCollaboratorModalClick();
            }
            else
            {
                ShowToast(ToastType.Danger, "Novo Colaborador", "Erro a adicionar novo colaborador");
            }
        }        
    }

    private async Task RemoveCollaborators()
    {
        var request = new DeleteCollaboratorsRequest
            {
                collaborators = selectedCollaborators.ToList<Collaborator>()
            };

        var response = await CollaboratorService.RemoveCollaboratorsAsync(request);

        if (response.Success)
        {
            ShowToast(ToastType.Success, "Remove Collaborators", "Collaborators removed successfully.");
            await LoadCollaborators();
            await collaboratorsGridRef.RefreshDataAsync();
            selectedCollaborators = new();
        }
        else
        {
            //ShowToast(ToastType.Danger, "Remove Collaborators", response.Message);

            if (response.NotFoundCollaborators.Any())
            {
                foreach (var collaboratorName in response.NotFoundCollaborators)
                {
                    ShowToast(ToastType.Danger, "Remove Collaborators", $"Collaborator '{collaboratorName}' was not found.");
                }
            }
        }
    }

    #region Modals, Dialogs and Toasts

    private async Task OnShowNewCollaboratorModalClick()
    {
        clearNewCollaboratorName();
        await modalNewCollaborator?.ShowAsync();
    }

    private async Task OnHideNewCollaboratorModalClick()
    {
        clearNewCollaboratorName();
        await modalNewCollaborator?.HideAsync();
    }

    private void clearNewCollaboratorName()
    {
        newCollaboratorName = "";
    }

    private async Task ShowConfirmationAsync()
    {
        string collaboratorNames = string.Join(", ", selectedCollaborators.Select(c => c.Name));
        string message = $"Colaboradores a eliminar: {collaboratorNames}";

        var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
        var confirmation = await removeCollaboratorsDialog.ShowAsync(
            title: "Confirma que quer eliminar?",
            message1: message,
            confirmDialogOptions: options);

        if (confirmation)
        {
            await RemoveCollaborators();
        }
    }

    private void ShowToast(ToastType toastType, string title, string message) => toastMessages.Add(CreateToastMessage(toastType, title, message));

    private ToastMessage CreateToastMessage(ToastType toastType, string title, string message)
    => new ToastMessage
        {
            Type = toastType,
            Title = title,
            HelpText = $"{DateTime.Now}",
            Message = message,
        };

    #endregion


    #region Grid Functions

    private Task OnSelectedItemsChanged(HashSet<Collaborator> collaborators)
    {
        selectedCollaborators = collaborators is not null && collaborators.Any() ? collaborators : new();
        return Task.CompletedTask;
    }

    private async Task<IEnumerable<FilterOperatorInfo>> GridFiltersTranslationProvider()
    {
        var filtersTranslation = new List<FilterOperatorInfo>();

        // number/date/boolean
        filtersTranslation.Add(new("=", "Igual a", FilterOperator.Equals));
        filtersTranslation.Add(new("!=", "Diferente de", FilterOperator.NotEquals));
        // number/date
        filtersTranslation.Add(new("<", "Menor que", FilterOperator.LessThan));
        filtersTranslation.Add(new("<=", "Menor ou igual a", FilterOperator.LessThanOrEquals));
        filtersTranslation.Add(new(">", "Maior que", FilterOperator.GreaterThan));
        filtersTranslation.Add(new(">=", "Maior ou igual a", FilterOperator.GreaterThanOrEquals));
        // string
        filtersTranslation.Add(new("*a*", "Contém", FilterOperator.Contains));
        filtersTranslation.Add(new("*a*", "Não Contém", FilterOperator.DoesNotContain));
        filtersTranslation.Add(new("a**", "Começa com", FilterOperator.StartsWith));
        filtersTranslation.Add(new("**a", "Termina com", FilterOperator.EndsWith));
        filtersTranslation.Add(new("=", "Igual a", FilterOperator.Equals));
        // common
        filtersTranslation.Add(new("x", "Limpar", FilterOperator.Clear));

        return await Task.FromResult(filtersTranslation);
    }

    #endregion
}